@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*NAVIGATION BAR*/
.bar{
    background-color:black;
    position: fixed;
    z-index: 11;
    list-style-type: none;
    display:flex;
    width:100%;
    top:0;
    left:0px;
    margin:0;
}
.bar a{
    float:left;
    padding: 15px 25px;
    font-size: 20px;
    font-family:lato;
    color:white;
    text-decoration: none;
}
.bar>li>ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color:black;
    font-size: 20px;
    position: absolute; 
    top: 100%;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    display: none;
}
.bar>li:hover>ul{
    display: block;
    color:white;
}
.bar>li>ul>li>a{
    display: block;
    padding: 1.25rem;
    color: inherit;
    text-decoration: none;
    width:100%;
    cursor: pointer;  
}
.bar>li>ul>li:last-child>a{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.bar .active{
    background-color: #564caf;
    color:white;
}
.bar a:hover{
    background-color:#968fd4;
    color:black;
}
.bar>li:hover>ul{
    display: block;
    color:white;
}

/*HEADER*/
header{
    text-align:center;
    position: relative;
    top: 45px;
}
header>h1{
    color:rgb(218, 224, 135);
    font-family:fantasy;
    letter-spacing: 1px;
    -webkit-text-stroke: 2px black;
    font-size:40px;
}

/*sidans layout*/
*{
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:linear-gradient(#4b4b69, #b3abab,#464657);
    width:980px;
}
.row{
    display: flex;
    position: relative;
    top:45px;
}
main{
    flex: 70%;
    padding: 20px;
    background-color: #4b4b69; 
    border: solid 3px black;
}
main h2{
    text-align:center;
}
main>label{
    color:white;
    font-family:lato;
    font-size: 30px;
    display: block;
    text-align: center;
    padding:20px;
}
aside{
    flex: 30%;
    padding:20px;
    background-color: rgb(179, 171, 171);  
    border: solid 3px black;
    border-left: 0px;
}
footer{
    padding:20px;
    background: rgb(70, 70, 87);
    position:relative;
    border: solid 3px black;
    top:40px;
}
.footer{
    display:inline-block;
    margin:0 20px;
    width:auto;
    font-family: lato;
}
.footer a{
    text-decoration: none;
    color:white;
}

/*REKLAM*/
.anonserbild{
    width: 200px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.anonserbild{
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
    border:solid 2px silver;
}

/*index1*/
#hoh{
    font-family:lato;
    color:white;
    text-align:center; 
    font-size:30px;
    display:block;
    padding:20px;
}
iframe{
    display: block;
    margin:0 auto;
}
.forslink{
    color:rgb(179, 171, 171);
    text-decoration:none;
}
.forslink p{
    text-align:center;
}

/*objekt-fordon*/
.objekt,.objektindex2{
    border:solid 3px;
    background-color:rgb(162, 157, 179);
    display:flex;
    border-radius:10px;
    margin-bottom:10px;
    margin-top:10px;
}
.objekt:hover{
    border-color:aquamarine;
    background-color:rgb(195, 190, 212);
}
.fordonbild{
    width: 300px;
    height: 200px;
    margin:10px;
}
.fordontext{
    display:inline-block;
    vertical-align: top;
    margin:10px;
    font-family:lato; 
}
/*idnex3*/
.kontaktaosstext{
    color:white;
    font-family:lato;
    font-size: 30px;
    text-align:center;
    padding-bottom:1px;
}
#mail{
    text-decoration:none;
    color:white;
}
#mail:hover{
    color:teal;
}
.openinghours, th, td{
    color:white;
    font-family:lato;
    border: 2px solid rgba(255, 255, 255, 0.699);
    padding:15px;
    text-align:center;
    border-spacing: 5px;
    background-color:rgba(0, 0, 0, 0.336);
    border-collapse:collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
.openinghours{
    width:70%;
}
.kontaktm{
    color:white;
    font-family:lato;
    font-size:20px;
    text-align:left;
}

a:hover{
    color:teal;
}

/*FORMULÄR*/
aside>h1{
    font-family: 'Roboto', sans-serif;
    text-align:center;
}
fieldset{
    border: 3px solid;
    border-radius:10px;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(162, 157, 179); 
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
}
.radiobutton{
    display:block;
    margin-bottom: 5px;
}
#fargcheckbox
{
    text-align:center;
}
input[type="text"],
input[type="tel"],
input[type="email"],
#radioid,#fargcheckbox
,textarea, select
 {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding:10px;
  border: 1px solid rgb(17, 5, 5);
  border-radius: 5px;
  background-color:  rgb(218, 218, 218);
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
#radioid:focus,#fargcheckbox
:focus,textarea:focus, select:focus
 {
     border-color:rgb(6, 128, 250);
     outline:none;
     box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.5);
 }
/*buttons i formulär*/
button{
    font-family:inherit;
    padding:10px;
    border:none;
    color:white;
    border-radius:9999px;
    background-color:rgb(212, 75, 75);
    margin-bottom:10px;
    cursor:pointer;
    font-weight: bold;
}
button[type="submit"]{
    background-color:rgb(65, 189, 211);
    float:right;
}
button:hover{
    background-color:rgb(146, 55, 55);
}
button:focus{
    outline:none;
    box-shadow: 0 0 0 3px rgba(9, 238, 40, 0.5);
}
button[type="submit"]:hover{
    background-color:rgb(47, 136, 151);
}

